# Entorno local
backend/.env
backend/.env.production

# Bytecode Python
__pycache__/
*.py[cod]

# Entorno virtual
.venv/
venv/

# Alembic cache
backend/alembic/versions/__pycache__/

# ignorar archivos de node_modules
backend/node_modules/
backend/node_modules/.prisma/
backend/dist/
